body {
  background: #000;
  color: #fff;
  font-family: indie_flowerregular;
  text-align: center;
}
h1,
p {
  margin: 0;
}
.main {
  color: #333;
  border: 5px solid #fff;
  margin: 30px;
  padding: 20px 50px 20px;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 540px;
}
.mainBox {
  padding-top: 30px;
  padding-bottom: 45px;
  margin: 5px auto 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.titleHome {
  text-align: center;
  font: 4.5em indie_flowerregular, cursive;
  text-shadow: 1px 2px 5px #ff0;
}
.subTitle {
  font-size: 1.7em;
}
.mainBox .yellow {
  text-shadow: 1px 1px 1px #333;
}
.yellow {
  color: #ff0;
}
a {
  line-height: 40px;
  margin: 0.5em;
  padding-bottom: 5px;
  color: #fff;
}
a img {
  margin-right: 10px;
  vertical-align: middle;
}

@font-face {
  font-family: indie_flowerregular;
  src: url(/assets/IndieFlower-webfont.eot);
  src: url(/assets/IndieFlower-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/IndieFlower-webfont.woff) format('woff'),
    url(/assets/IndieFlower-webfont.ttf) format('truetype'), url(/assets/IndieFlower-webfont.svg#indie_flowerregular) format('svg');
  font-weight: 400;
  font-style: normal;
}
