body {
  background: #04395c;
  color: #fff;
  font-family: 'Indie Flower';
  text-align: center;
}
.yellow {
  color: #f1eecd;
}
a {  
  line-height:40px;
  margin: 0.5em;
  padding-bottom: 5px;
  color: #fff;
}
a img {
  margin-right:10px;
  vertical-align: middle;
}
